@{
    Layout = null;
}
@model PhoneTrackerOnline.Models.ViewModels.TrackVM;

<head>
    <title>Track with Phone Tracker-Online</title>
    <style>
        body {
            margin-bottom: 0px !important;
        }

        .listHeading {
            font-size: 24px;
            box-shadow: 0px 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
            height: 50px;
            background-color: #ebebeb;
            flex-direction: row;
            display: flex;
        }

        .centered-text {
            transform: translateY(15%);
        }

        .center-aligned-text {
            text-align: center;
        }

        .listContent {
            flex-direction: column;
            background-color: #dedede;
        }

        .list {
            width: 400px;
            height: 94%;
            overflow-y: scroll;
            overflow-x: visible;
        }
    </style>
</head>

<header>
    <partial name="_NavbarPartial" />
</header>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<input type="hidden" id="signalRConnectionId" />

<div>
    <nav class="nav navbar navbar-expand-sm">
        <div class="container">
            <div class="navbar-nav flex-grow-1">
                <button id="currentLocBtn" class="nav-link text-dark font-weight-bolder btn btn-light">CURRENT LOCATION</button>
            </div>
            <div class="navbar-nav flex-grow-1 flex-sm-row-reverse">
                <button id="locsListBtn" class="nav-link text-dark font-weight-bolder btn btn-light">SHOW LOCATIONS LIST</button>
                <button id="phonesListBtn" class="nav-link text-dark font-weight-bolder btn btn-light">SHOW PHONES LIST</button>
            </div>
        </div>
    </nav>
    <div style="display: flex; flex-direction: row; height:87%;">
        <div class="map" id="map" style="width:100%;"></div>
        <div class="listContent" id="phonesList">
            <div class="listHeading">
                <p class="centered-text center-aligned-text" style="margin-left: 10px;">Phones List</p>
                <button type="button" class="btn btn-light" style="margin-left: 210px;" data-toggle="modal" data-target="#popupbox-add"><img src="~/add.png" /></button>
            </div>
            <div class="list">
                <ul style="list-style-type:none; padding-left: 0;">
                    @foreach (var targetPhone in Model.Caller.TrackedPhones)
                    {
                        <li style="flex-direction:row; display: flex; padding-bottom: 3px;">
                            <a class="btn btn-light phone-select" id="@targetPhone.ID" style="flex-direction:row; display: flex; padding-left: 0; width: 400px;">
                                <img src="~/phone.png" alt="phoneIcon" />
                                <div style="flex-direction:column;">
                                    <p class="centered-text" style="text-align: left; margin-bottom: 10px;">
                                        <b>@targetPhone.Name</b><br />
                                    </p>
                                    <div class="code-visible" id="code-visible-@targetPhone.ID" style="display: none;">Code: @targetPhone.Code</div>
                                    <div class="code-invisible" id="code-invisible-@targetPhone.ID">Code: ******</div>
                                </div>
                                <p id="online" style="transform: translateY(37%); margin-left: 30px;">▲ONLINE</p>
                            </a>
                            <button class="btn btn-light" data-toggle="modal" data-target="#popupbox-edit-@targetPhone.ID" style="margin-left: 0px; margin-top: 0px; padding-bottom: 0; background-color: burlywood"><img src="~/edit.png" style="transform: translateY(-30%);" /></button>
                            <button class="btn btn-light" data-toggle="modal" data-target="#popupbox-delete-@targetPhone.ID" style="margin-left: 0px; margin-top: 0px; padding-bottom: 0; background-color: firebrick"><img src="~/delete.png" style="transform: translateY(-30%);" /></button>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="listContent" id="locsList">
            <div class="listHeading">
                <p class="centered-text center-aligned-text" style="margin-left: 10px;">Locations List</p>
            </div>
            <div class="list">
                <ul style="list-style-type:none; padding-left: 0;">
                    <li style="flex-direction:row; display: flex;">
                        <a class="btn btn-light" style="flex-direction:row; display: flex; padding-left: 0; width: 400px;">
                            <img src="~/loc_icon_gray.png" style="margin-left: 10px;" />
                            <p style="margin-top: 3px; margin-left: 170px; text-align: right; position: absolute;">Time taken</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        @*"Add" popup*@
        <div class="modal fade" role="dialog" id="popupbox-add">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding: 30px; padding-top: 5px;">
                    <form id="phone" method="post" asp-controller="Track" asp-action="Index">
                        <br />
                        <div class="popupttl bluetxt"><b>Add New Target Phone</b></div>
                        <hr />
                        <br />
                        <br />
                        <div class="popupdesc">
                            <div class="form-group">
                                <label asp-for="PhoneName">Title</label>
                                <input asp-for="PhoneName" type="text" maxlength="100" class="form-control" id="title" />
                                <span asp-validation-for="PhoneName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Contact">Corresponding Contact (for sending SMS if needed)</label>
                                <select id="contact" asp-for="PhoneContactID" asp-items="@ViewBag.Contacts" class="form-control"></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Save Changes" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @*"Edit" popups for each phone*@
        @foreach (var targetPhone in Model.Caller.TrackedPhones)
        {
            <div class="modal fade" role="dialog" id="popupbox-edit-@targetPhone.ID">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="padding: 30px; padding-top: 5px;">
                        <form id="phone" method="post" asp-controller="Track" asp-action="Index">
                            <br />
                            <div class="popupttl bluetxt"><b>Edit a Target Phone</b></div>
                            <hr />
                            <br />
                            <br />
                            <div class="popupdesc">
                                <input asp-for="PhoneID" value="@targetPhone.ID" style="display: none" />
                                <div class="form-group">
                                    <label asp-for="PhoneName">Title</label>
                                    <input asp-for="PhoneName" type="text" maxlength="100" class="form-control" id="title" value="@targetPhone.Name" />
                                    <span asp-validation-for="PhoneName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="Contact">Corresponding Contact (for sending SMS if needed)</label>
                                    <select id="contact" asp-for="PhoneContactID" asp-items="@ViewBag.Contacts" class="form-control">
                                        @if (ViewBag.ContactStrings.ContainsKey(targetPhone.ID))
                                        {
                                            <option class="default-selected" value="-1">@ViewBag.ContactStrings[targetPhone.ID]</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Save Changes" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }

        @*"Delete" popups for each phone*@
        @foreach (var targetPhone in Model.Caller.TrackedPhones)
        {
            <div class="modal fade" role="dialog" id="popupbox-delete-@targetPhone.ID">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="padding: 30px; padding-top: 5px;">
                        <form id="phone" method="post" asp-controller="Track" asp-action="Delete">
                            <br />
                            <div class="popupttl bluetxt"><b>Remove a Phone</b></div>
                            <hr />
                            <br />
                            <br />
                            <div class="popupdesc">
                                <input asp-for="PhoneID" value="@targetPhone.ID" style="display: none" />
                                <p>Are you sure you want to remove "@targetPhone.Name"?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                <input type="submit" class="btn btn-danger" value="Yes" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE_BVIxNCy8kZ1S2sEk3bRgpMTuu3c1Nc&v=3.exp&sensor=false"></script>
<script type="text/javascript" src="~/js/maps.js"></script>
<script type="text/javascript" src="~/js/track-lists.js"></script>

<script>
    function ready() {
    }

    var userId = "@Model.Caller.Username";
    document.addEventListener("DOMContentLoaded", ready);

    var defaultItems = document.getElementsByClassName("default-selected");
    for (i = 0; i < defaultItems.length; i++) {
        defaultItems[i].selected = true;
    }

    var invisibleCodes = document.getElementsByClassName("code-invisible");
    var visibleCodes = document.getElementsByClassName("code-visible");
    for (i = 0; i < invisibleCodes.length; i++) {
        let index = parseInt(i);
        invisibleCodes[i].onclick = function () { document.getElementById(invisibleCodes[index].id).style.display = "none"; document.getElementById(visibleCodes[index].id).style.display = "block"; }
        visibleCodes[i].onclick = function () { document.getElementById(visibleCodes[index].id).style.display = "none"; document.getElementById(invisibleCodes[index].id).style.display = "block"; }
    }

    $(window).on('load', function () {
        if(@ViewBag.PhoneIDError == 0)
            $("#popupbox-add").modal("show");
        else if (@ViewBag.PhoneIDError > 0)
            $("#popupbox-edit-@ViewBag.PhoneIDError").modal("show");
    });
</script>

<script type="text/javascript" src="~/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/notification.js"></script>